// Общие стили
a {
    font-family: DendaNewLightC;
    font-size: 13px;
}
span {
    font-size: 40px;
    font-family: DendaNewLightC;
    color: #434b4f;
}
.sections {
    font-family: Dendanew;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #90a4ae;
}
