block variables

doctype html
html(lang='ru')

  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title= pageTitle

  body
    .main__container
      - if (layout.needHeader)
        include ../header/header.pug

      main
        div(class=['page', layout.pageClass])
          block content

      - if (layout.needCompany)
        include ../../partials/company/company.pug
        include ../../partials/table/table.pug
        include ../../partials/catalog/catalog.pug
        include ../../partials/slider/slider.pug


      - if (layout.needFooter)
        include ../footer/footer.pug
        
        
