.wrap
    .wrap__container
        .wrap__container-items
            .wrap__container-items-item 
                .wrap__container-items-item-img
                    img(src="../src/assets/img/tehkarta.png", alt="")
            .wrap__container-items-padding 
                .wrap__container-items-item-text
                    .wrap__container-items-item-text-first 01
                .wrap__container-items-item-text
                    .wrap__container-items-item-text-second Техкарты
                .wrap__container-items-item-text
                    .wrap__container-items-item-text-third Компания ФЭС-Агро - это федеральный дистрибутор средств защиты растений, семян, макро- и микроудобрений. Мы предлагаем широкий ассортимент и комплексные профессиональные решения, обеспечиваем экспертную поддержку сельхозпроизводителей на каждом технологическом этапе. За 23 года мы прошли все этапы развития: от небольшой компании до крупнейшего дистрибутора с развитой филиальной сетью и внушительным штатом квалифицированных сотрудников. Офисы ФЭС-Агро открыты в 26 городах России. Нашими партнерами за три последних года стали 3 500 предприятий агропромышленного комплекса на всей Европейской части РФ.
                .wrap__container-items-item-text
                    button.wrap__container-items-item-text-button Заказать услугу
            .wrap__container-items-padding-second.wrap__container-items-padding 
                .wrap__container-items-item-text
                    .wrap__container-items-item-text-first 02
                .wrap__container-items-item-text
                    .wrap__container-items-item-text-second Скаутинг посевов
                .wrap__container-items-item-text
                    .wrap__container-items-item-text-third Компания ФЭС-Агро - это федеральный дистрибутор средств защиты растений, семян, макро- и микроудобрений. Мы предлагаем широкий ассортимент и комплексные профессиональные решения, обеспечиваем экспертную поддержку сельхозпроизводителей на каждом технологическом этапе. За 23 года мы прошли все этапы развития: от небольшой компании до крупнейшего дистрибутора с развитой филиальной сетью и внушительным штатом квалифицированных сотрудников. Офисы ФЭС-Агро открыты в 26 городах России. Нашими партнерами за три последних года стали 3 500 предприятий агропромышленного комплекса на всей Европейской части РФ.
                .wrap__container-items-item-text
                    button.wrap__container-items-item-text-button Заказать услугу
            .wrap__container-items-item.wrap__container-items-left 
                .wrap__container-items-left-img
                    img(src="../src/assets/img/skauting-posevov.png", alt="" )