.news
    .news__company-little Новости
    .news__company-big Новости компании
    .news__text
        .news__text-data 12.12.2019
        .news__text-big Компания «ФЭС-Агро» представила ожидаемые результаты 2019 года
        .news__text-littnpm run devle «ФЭС-Агро» к окончанию 2019 года прогнозирует рост выручки на 38% по сравнению с фактическими данными 2018 года
    .news__text 
        .news__text-groups
            .news__text-groups-data 12.12.2019
            .news__text-groups-information  «ЮГАГРО-2019»: итоги выставки
        .news__text-groups
            .news__text-groups-data 12.12.2019
            .news__text-groups-information  Группа компаний «РостАгро» погасила долг в размере более 600 млн руб. перед ООО «ФЭС-Агро» 