.table 
    .partners ПАРТНЕРЫ
    .text-partners Мы сотрудничаем с мировыми компаниями
    .table__item
        .table-img
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_1.png", alt="").img-link
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_2.png", alt="").img-link.link_2
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_3.png", alt="").img-link.link_2
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_4.png", alt="").img-link
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_5.png", alt="").img-link.link_2
        .table-img
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_6.png", alt="").img-link
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_7.png", alt="").img-link
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_8.png", alt="").img-link
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_9.png", alt="").img-link.link_2
            a.table-img__item
                .container-img-table
                    img(src=".././src/assets/img/image_10.png", alt="").img-link
    img(src="../src/assets/img/big-list.png" alt="").big-list
    .slider-container                   
        button.slider.slider-container__back <
        .slider.slider-container__button-text-change 01 
        .slider.slider-container__button-text - 03
        button.slider.slider-container__next >
        
