.table {
  width: 100%;
  height: 926px;
  background-color: #fafafa;
  margin-top: -180px;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    &-item {
      margin-top: 175px;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1045px;
      &__partners {
        padding-top: 200px;
        z-index: 1;
      }
      &-text-partners {
        padding-top: 20px;
        z-index: 1;
        max-width: 430px;
      }
    }
  }
  &__big-list {
    margin-top: -245px;
    margin-right: 20%;
    width: 300px;
    height: 400px;
    z-index: -2;
  }

  &__item {
    width: 945px;
    height: 369px;
    margin: 80px auto 0px auto;
    z-index: 1;
    &-img {
      display: flex;
      flex-direction: row;
      height: 100%;
      &-items {
        width: 20%;
        height: 100%;
        border: 1px solid lightgrey;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
        &-container {
          width: 80px;
          height: 70px;
          margin: auto;
          .img-link {
            width: 90%;
            height: 90%;
            text-align: center;
            margin-top: 60px;
          }
          .link-modify {
            height: 40%;
            text-align: center;
            margin-top: 80px;
          }
        }
      }
      &-items:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        filter: none; /* IE 6-9 */
      }
    }
    &-img-mod {
      display: flex;
      flex-direction: row;
      height: 50%;
      margin-top: -184.3px;
    }
  }
  .slider-container {
    width: 200px;
    height: 50px;
    margin: -92px auto 0px auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    color: grey;
    &__back {
      width: 40px;
      height: 40px;
      background-color: #e0e0e0;
      border-radius: 50%;
      margin-right: 20px;

    }
    &__button-text-change,
    &__button-text {
      width: 30px;
      height: 20px;
      font-family: Dendanew;
      margin-top: 10px;
    }
    &__button-text{
      margin-right: 18px;
    }
    &__next {
      width: 40px;
      height: 40px;
      background-color: #e0e0e0;
      border-radius: 50%;
    }
    &__next:hover,
    &__back:hover {
      background-color: #399951;
      color: white;
    }
  }
}
.none {
  display: none;
}
