.table 
    .table__partners.sections ПАРТНЕРЫ
    .table__text-partners 
        span Мы сотрудничаем<br> с мировыми компаниями
    .table__item
        .table__item-img
            a.table__item-img-items
                .table__item-img-items-container
                    img(src=".././src/assets/img/image_1.png", alt="").img-link
            a.table__item-img-items
                .table__item-img-items-container
                    img(src=".././src/assets/img/image_2.png", alt="").img-link.link-modify
            a.table__item-img-items
                .table__item-img-items-container
                    img(src=".././src/assets/img/image_3.png", alt="").img-link.link-modify
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_4.png", alt="").img-link
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_5.png", alt="").img-link.link-modify
        .table__item-img-mod
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_6.png", alt="").img-link
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_7.png", alt="").img-link
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_8.png", alt="").img-link
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_9.png", alt="").img-link.link-modify
            a.table__item-img-items
                 .table__item-img-items-container
                    img(src=".././src/assets/img/image_10.png", alt="").img-link
    img(src="../src/assets/img/big-list.png" alt="").table__big-list
    .slider-container                   
        button.slider-flex.slider-container__back <
        .slider-flex.slider-container__button-text-change 01 
        .slider-flex.slider-container__button-text - 03
        button.slider-flex.slider-container__next >
        
