.wrap
    .wrap__container
        .wrap__box
            img(src="../src/assets/img/tehkarta.png" alt="").wrap__box-image
            .wrap__box-text
                .wrap__box-text-number 01
                .wrap__box-text-name Техкарты
                .wrap__box-text-big Компания ФЭС-Агро - это федеральный дистрибутор средств защиты растений, семян, макро- и микроудобрений. Мы предлагаем широкий ассортимент и комплексные профессиональные решения, обеспечиваем экспертную поддержку сельхозпроизводителей на каждом технологическом этапе. За 23 года мы прошли все этапы развития: от небольшой компании до крупнейшего дистрибутора с развитой филиальной сетью и внушительным штатом квалифицированных сотрудников. Офисы ФЭС-Агро открыты в 26 городах России. Нашими партнерами за три последних года стали 3 500 предприятий агропромышленного комплекса на всей Европейской части РФ.
                button.wrap__box-text-button Заказать услугу
        .wrap__box.wrap__box_mod
            .wrap__box-text
                .wrap__box-text-number 02
                .wrap__box-text-name Скаутинг посевов
                .wrap__box-text-big Компания ФЭС-Агро - это федеральный дистрибутор средств защиты растений, семян, макро- и микроудобрений. Мы предлагаем широкий ассортимент и комплексные профессиональные решения, обеспечиваем экспертную поддержку сельхозпроизводителей на каждом технологическом этапе. За 23 года мы прошли все этапы развития: от небольшой компании до крупнейшего дистрибутора с развитой филиальной сетью и внушительным штатом квалифицированных сотрудников. Офисы ФЭС-Агро открыты в 26 городах России. Нашими партнерами за три последних года стали 3 500 предприятий агропромышленного комплекса на всей Европейской части РФ.
                button.wrap__box-text-button Заказать услугу
            img(src="../src/assets/img/skauting-posevov.png" alt="" ).wrap__box-img

