.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &__link {
    &s {
      display: flex;

      &-button {
        margin-right: 10px;
      }

      &_dark {
        .menu__link.default-link {
          @include font($font-family, map-get($color-styles, "black"), 20px, 23px);
        }

        .menu__link + .menu__link {
          margin-left: 16px;
        }
      }

      &_light {
        .menu__link + .menu__link {
          margin-left: 16px;
        }
      }
    }
  }
}
