.menu
  .company
      .company-item О КОМПАНИИ
      .about-company__container
        .fes-agro-today ФЭС-Агро Сегодня
        .fes-agro-today.lit-fes-agro Широкий ассортимент и экспертная поддержка цифровых решений для создания единой системы поддержки производителя.
          button.fes-agro-button Подробнее о нас 
      .about-company__image
        img(src="../src/assets/img/image1.png" alt="").img-company
        img(src="../src/assets/img/image2.png" alt="").img-company
        img(src="../src/assets/img/image3.png" alt="").img-company
      img(src="../src/assets/img/list.png" alt="").list-img
        