.menu
  .menu__links.menu__links_dark
    button.menu__links-button
      <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.828 0.304001H17.1863C17.6363 0.304001 18 0.682001 18 1.132C18 1.582 17.6363 1.96 17.1863 1.96H0.828C0.378 1.96 0 1.582 0 1.132C0 0.682001 0.378 0.304001 0.828 0.304001ZM0.828 6.304H13.1863C13.6363 6.304 14 6.682 14 7.132C14 7.582 13.6363 7.96 13.1863 7.96H0.828C0.378 7.96 0 7.582 0 7.132C0 6.682 0.378 6.304 0.828 6.304ZM17.1863 12.304H0.828C0.378 12.304 0 12.682 0 13.132C0 13.582 0.378 13.96 0.828 13.96H17.1863C17.6363 13.96 18 13.582 18 13.132C18 12.682 17.6363 12.304 17.1863 12.304Z" fill="#001E2D"/>
      </svg>
    a.menu__link.default-link(href='#') Каталог
    a.menu__link.default-link(href='#') Лекарства
    a.menu__link.default-link(href='#') Витамины
    a.menu__link.default-link(href='#') Косметика и уход
    a.menu__link.default-link(href='#') Гигиена
    a.menu__link.default-link(href='#') Медицинские изделия
  .menu__links.menu__links_light
    a.menu__link.default-link(href='#') Акции
    a.menu__link.default-link(href='#') Скидки
    a.menu__link.default-link(href='#') Распродажи
    a.menu__link.default-link(href='#') Новинки