.special
  img(src="../src/assets/img/special-color.png" alt="").special__img-color
  .special__little.sections АКЦИИ
  .special__big 
    span Спецпредложения 
  .special__container
    .special__container-items
      .special__container-items-cont
        .special__container-items-cont-item
          .special__container-items-cont-item-box-data 01/02/2020
          .special__container-items-cont-item-box
            img(src="../src/assets/img/special-1.png" alt="").special__container-items-cont-item-box-img
        .special__container-items-cont-item
          .special__container-items-cont-item-text -10% на семена Maisadour
          .special__container-items-cont-item-text-big Приобретай семена и средства защиты растений компании Bayer и попади на футбольный матч Лиги Европы КРАСНОДАР-BAYER.
          a(href="").special__container-items-cont-item-link ——     Подробнее
      .special__container-items-cont.special__container-items-modif
        .special__container-items-cont-item.special__container-items-cont-modif
          .special__container-items-cont-item-box-data 01/02/2020
          .special__container-items-cont-item-box   
            img(src="../src/assets/img/special-2.png" alt="").special__container-items-cont-item-box-img
        .special__container-items-cont-item
          .special__container-items-cont-item-text  Осенний марафон, успей первым!
          .special__container-items-cont-item-text-big c 1 октября по 25 декабря 2018 г. СКИДКИ ДО 70% на складские остатки средств защиты растений и семян полевых культур. 
          a(href="").special__container-items-cont-item-link ——    Подробнее

