.special
    img(src="../src/assets/img/special-color.png", alt="").special__img-color
    .special__little АКЦИИ
    .special__big Спецпредложения 
    img(src="../src/assets/img/special-opacity.png", alt="").special__img-opacity 
    .special__container
        .special__container-item
            img(src="../src/assets/img/special-1.png", alt="").special__container-item-img
            .special__container-item-data 01/02/2020
            .special__container-item-text -10% на семена Maisadour
            .special__container-item-text-big Приобретай семена и средства защиты растений компании Bayer и попади на футбольный матч Лиги Европы КРАСНОДАР-BAYER.
            a(href="").special__container-item-link  ————   Подробнее
        .special__container-item.special__container-modif
            img(src="../src/assets/img/special-2.png", alt="").special__container-item-img
            .special__container-item-data 01/02/2020
            .special__container-item-text  Осенний марафон, успей первым!
            .special__container-item-text-big c 1 октября по 25 декабря 2018 г. СКИДКИ ДО 70% на складские остатки средств защиты растений и семян полевых культур. 
            a(href="").special__container-item-link ————   Подробнее

