.catalog
    .catalog__item КАТАЛОГ
    .catalog__item-2 Наша продукция
    .catalog__table 
        a.otdel(href="#") 
            img(src="../src/assets/img/catalog1.png", alt="").flex.catalog-img 
            .flex.otdel__item Средства защиты растений
            .link-catalog
                a(href="").link-catalog__text Гербициды
                a(href="").link-catalog__text Инсектициды
                a(href="").link-catalog__text Нематициды
                a(href="").link-catalog__text Фунгициды
                a(href="").link-catalog__text Акарициды
                a(href="").link-catalog__text Родентициды
        a.otdel(href="#") 
            img(src="../src/assets/img/catalog2.png", alt="").flex.catalog-img
            .flex.otdel__item Удобрения и микроудобрения
            .link-catalog
                a(href="").link-catalog__text НПК+микто
                a(href="").link-catalog__text Простые соли
                a(href="").link-catalog__text Антистрессанты, аминокислоты
                a(href="").link-catalog__text Регуляторы роста
                a(href="").link-catalog__text Инокулянты
                a(href="").link-catalog__text Родентициды
        a.otdel(href="#") 
            img(src="../src/assets/img/catalog3.png", alt="").flex.catalog-img
            .flex.otdel__item Семена
            .link-catalog
                a(href="").link-catalog__text Подсолнечники
                a(href="").link-catalog__text Кукуруза
                a(href="").link-catalog__text Сахарная свекла
                a(href="").link-catalog__text Рапс
                a(href="").link-catalog__text Соя
                a(href="").link-catalog__text Овощи
            