.catalog {
  width: 100%;
  height: 900px;
  &__item {
    width: 50%;
    font-size: 15px;
    margin: 4% 0% 0% 15%;
    color: grey;
  }
  &__item-2 {
    font-size: 27px;
    width: 50%;
    margin-left: 15%;
    margin-top: 20px;
  }
  &__table {
    width: 70%;
    height: 100%;
    margin: 40px auto 0px auto;
    display: flex;
    flex-direction: column;
    &-section {
      width: 100%;
      height: 25%;
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      color: green;
      &-img {
        width: 40px;
        height: 40px;
        margin-top: 90px;
      }
      .flexbox-table {
      }
      &-item {
        width: 150px;
        font-size: 20px;
      }
      &-item,
      .catalog-img {
        margin: 90px 20px 0px 20px;
      }
      &-link,&-link-modif {
        height: 150px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
          margin: -200px 0px 0px 40%;
        &-text {
          margin-left: 50px;
          font-size: 23px;
          color: grey; 
        }
        &-text:hover {
          color: green;
          padding-bottom: 5px;
          border-bottom: 1px solid green;
        }
      }
      &-link-modif{
        width: 600px;
      }
      &-link{
        width: 800px;
      }
    }
    .catalog__table-section:hover {
      background-color: lightgrey;
    }
  }
}
