.catalog
    .catalog__container
        .catalog__items
            .catalog__items-item.sections КАТАЛОГ
            span.catalog__items-little Наша продукция
    .catalog__table 
        .catalog__items
            .catalog__section 
                img(src="../src/assets/img/catalog1.png", alt="").catalog__section-img 
                .catalog__section-item Средства защиты растений
                .catalog__section-link
                    a(href="").catalog__section-link-text Гербициды
                    a(href="").catalog__section-link-text Инсектициды
                    a(href="").catalog__section-link-text Нематициды
                    a(href="").catalog__section-link-text Фунгициды
                    a(href="").catalog__section-link-text Акарициды
                    a(href="").catalog__section-link-text Родентициды
            .catalog__section 
                img(src="../src/assets/img/catalog2.png", alt="").catalog__section-img
                .catalog__section-item Удобрения и микроудобрения
                .catalog__section-link
                    a(href="").catalog__section-link-text НПК+микто
                    a(href="").catalog__section-link-text Простые соли
                    a(href="").catalog__section-link-text Антистрессанты, аминокислоты
                    a(href="").catalog__section-link-text Регуляторы роста
                    a(href="").catalog__section-link-text Инокулянты
                    a(href="").catalog__section-link-text Родентициды
            .catalog__section 
                img(src="../src/assets/img/catalog3.png", alt="").catalog__section-img
                .catalog__section-item Семена
                .catalog__section-link-modif
                    a(href="").catalog__section-link-text Подсолнечники
                    a(href="").catalog__section-link-text Кукуруза
                    a(href="").catalog__section-link-text Сахарная свекла
                    a(href="").catalog__section-link-text Рапс
                    a(href="").catalog__section-link-text Соя
                    a(href="").catalog__section-link-text Овощи
            img(src=".././src/assets/img/corn.png", alt="").catalog__items-corn
                