.catalog {
  width: 100%;
  height: 800px;
  &__item {
    font-family: Dendanewc;
    font-size: 12px;
    margin: 40px auto 0px auto;
    color: grey;
    max-width: 1140px;
  }
  &__item-2 {
    font-size: 40px;
    font-family: DendaNewLightC;
    margin: 20px auto 0px auto;
    max-width: 1140px;
  }
  &__table {
    width: 100%;
    height: 85%;
    margin: 40px auto 0px auto;
    display: flex;
    justify-content: center;
    
    &-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 1140px;
      &-corn {
        width: 250px;
        height: 280px;
        margin: -300px 0px 0px 850px;
      }
      &-section {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1140px;
        height: 200px;
        color: green;
        font-weight: bold;
        
        &-img {
          width: 40px;
          height: 40px;
          margin: auto 30px auto 0px;
        }
        &-item {
          width: 170px;
          font-size: 18px;
          font-family: Dendanewc; 
          margin: auto 0px auto 0px;
        }
        &-item,
        .catalog-img {
        }
        &-link,
        &-link-modif {
          height: 150px;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;

          &-text {
            
            font-size: 16px;
            color: grey;
            font-weight: lighter;
            height: 29px;
            font-family: DendaNewLightC;
            margin: auto 0px auto 90px;
          }
          &-text:hover {
            color: green;

            border-bottom: 1px solid green;
          }
        }
        &-link-modif {
          width: 600px;
        }
        &-link {

          width: 800px;
        }
      }
      &-section:hover {
        background-color: #fafafa;
      }
    }
  }
}
