.catalog
    .catalog__container
        .catalog__container-items
            .catalog__container-items-item.sections КАТАЛОГ
            span.catalog__container-items-item-second Наша продукция
    .catalog__table 
        .catalog__table-items
            .catalog__table-items-section 
                img(src="../src/assets/img/catalog1.png", alt="").flexbox-table.catalog__table-items-section-img 
                .flexbox-table.catalog__table-items-section-item Средства защиты растений
                .catalog__table-items-section-link
                    a(href="").catalog__table-items-section-link-text.link-general Гербициды
                    a(href="").catalog__table-items-section-link-text.link-general Инсектициды
                    a(href="").catalog__table-items-section-link-text.link-general Нематициды
                    a(href="").catalog__table-items-section-link-text Фунгициды
                    a(href="").catalog__table-items-section-link-text Акарициды
                    a(href="").catalog__table-items-section-link-text Родентициды
            .catalog__table-items-section 
                img(src="../src/assets/img/catalog2.png", alt="").flexbox-table.catalog__table-items-section-img
                .flexbox-table.catalog__table-items-section-item Удобрения и микроудобрения
                .catalog__table-items-section-link
                    a(href="").catalog__table-items-section-link-text НПК+микто
                    a(href="").catalog__table-items-section-link-text Простые соли
                    a(href="").catalog__table-items-section-link-text Антистрессанты, аминокислоты
                    a(href="").catalog__table-items-section-link-text Регуляторы роста
                    a(href="").catalog__table-items-section-link-text Инокулянты
                    a(href="").catalog__table-items-section-link-text Родентициды
            .catalog__table-items-section 
                img(src="../src/assets/img/catalog3.png", alt="").flexbox-table.catalog__table-items-section-img
                .flexbox-table.catalog__table-items-section-item Семена
                .catalog__table-items-section-link-modif
                    a(href="").catalog__table-items-section-link-text Подсолнечники
                    a(href="").catalog__table-items-section-link-text Кукуруза
                    a(href="").catalog__table-items-section-link-text Сахарная свекла
                    a(href="").catalog__table-items-section-link-text Рапс
                    a(href="").catalog__table-items-section-link-text Соя
                    a(href="").catalog__table-items-section-link-text Овощи
            img(src=".././src/assets/img/corn.png", alt="").catalog__table-items-corn
                