.catalog
    .catalog__item КАТАЛОГ
    .catalog__item-2 Наша продукция
    .catalog__table 
        a(href="#").catalog__table-section 
            img(src="../src/assets/img/catalog1.png", alt="").flexbox-table.catalog__table-section-img 
            .flexbox-table.catalog__table-section-item Средства защиты растений
            .catalog__table-section-link
                a(href="").catalog__table-section-link-text Гербициды
                a(href="").catalog__table-section-link-text Инсектициды
                a(href="").catalog__table-section-link-text Нематициды
                a(href="").catalog__table-section-link-text Фунгициды
                a(href="").catalog__table-section-link-text Акарициды
                a(href="").catalog__table-section-link-text Родентициды
        a(href="#").catalog__table-section 
            img(src="../src/assets/img/catalog2.png", alt="").flexbox-table.catalog__table-section-img
            .flexbox-table.catalog__table-section-item Удобрения и микроудобрения
            .catalog__table-section-link
                a(href="").catalog__table-section-link-text НПК+микто
                a(href="").catalog__table-section-link-text Простые соли
                a(href="").catalog__table-section-link-text Антистрессанты, аминокислоты
                a(href="").catalog__table-section-link-text Регуляторы роста
                a(href="").catalog__table-section-link-text Инокулянты
                a(href="").catalog__table-section-link-text Родентициды
        a(href="#").catalog__table-section 
            img(src="../src/assets/img/catalog3.png", alt="").flexbox-table.catalog__table-section-img
            .flexbox-table.catalog__table-section-item Семена
            .catalog__table-section-link-modif
                a(href="").catalog__table-section-link-text Подсолнечники
                a(href="").catalog__table-section-link-text Кукуруза
                a(href="").catalog__table-section-link-text Сахарная свекла
                a(href="").catalog__table-section-link-text Рапс
                a(href="").catalog__table-section-link-text Соя
                a(href="").catalog__table-section-link-text Овощи
            