.company
  .company-item.sections О КОМПАНИИ
  .company-cont
    .company-cont__container
      span.fes-agro-today ФЭС-Агро Сегодня
      .fes-agro-today.lit-fes-agro Широкий ассортимент и экспертная поддержка цифровых решений для создания единой системы поддержки производителя.
        button.fes-agro-button Подробнее о нас 
  .company__image
    img(src="../src/assets/img/image1.png" alt="").company__image-first-img
    img(src="../src/assets/img/image2.png" alt="").company__image-second-img
    img(src="../src/assets/img/image3.png" alt="").company__image-third-img
    img(src="../src/assets/img/list.png" alt="").list-img
      