.company
  .company__cont
    .company__cont-items
      .company__cont-items-item.sections О КОМПАНИИ
      .company__cont-items-item
        span.fes-agro-today ФЭС-Агро Сегодня
        .fes-agro-today.lit-fes-agro Широкий ассортимент и экспертная поддержка цифровых решений для создания единой системы поддержки производителя.
          button.fes-agro-button.button-generate  Подробнее о нас 
  .company__image
    .company__image-container
      img(src="../src/assets/img/image1.png" alt="").company__image-container-first-img
      img(src="../src/assets/img/image2.png" alt="").company__image-container-second-img
      img(src="../src/assets/img/image3.png" alt="").company__image-container-third-img
      img(src="../src/assets/img/list.png" alt="").list-img
      