.company {
  width: 100%;
  height: 700px;
  margin-top: 600px;
  .company-item {
    width: 70%;
    font-size: 14px;
    margin: 4% auto 0% auto;
    color: grey;
  }
  &__container {
    width: 70%;
    margin: 2% auto 0% auto;
    display: flex;
    justify-content: space-around;
    .fes-agro-today {
      font-size: 27px;
      width: 50%;
      button.fes-agro-button {
        padding: 10px 10px;
        background-color: green;
        border-radius: 3px;
        border: 1px solid green;
        margin-top: 8%;
      }
    }
    .lit-fes-agro {
      font-size: 18px;
      line-height: 25px;
    }
  }
  &__image {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    &-first-img {
      height: 300px;
    }
    &-second-img{
      height: 300px;
      margin-top: 15%;
    }
    &-third-img {
      height: 300px;
      margin-top: 5%;
    }
    .list-img {
      width: 15%;
      height: 20%;
      margin-top: 300px;
    }
  }
}