.company {
  width: 100%;
  height: 850px;
  margin-top: 600px;

  .company-item {
    width: 70%;
    margin: 4% auto 0% auto;
    max-width: 1045px;
  }
  .company-cont {
    display: flex;
    justify-content: center;
    &__container {
      max-width: 1045px;
      display: flex;
      justify-content: space-around;
      .fes-agro-today {
        width: 50%;
        .fes-agro-button {
          width: 187px;
          height: 56px;
          background-color: #399951;
          border-radius: 4px;
          margin-top: 8%;
          font-family: Dendanew;
          color: #ffffff;
        }
      }
      .lit-fes-agro {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    &-container {
      width: 80%;
      display: flex;
      justify-content: space-around;
      &-first-img {
        width: 267px;
        height: 360px;
      }
      &-second-img {
        width: 280px;
        height: 460px;
        margin-top: 15%;
        margin-left: 20px;
        margin-right: 20px;
      }
      &-third-img {
        width: 267px;
        height: 360px;
        margin-top: 5%;
      }
      .list-img {
        width: 240.11px;
height: 299px;
        margin-top: 300px;
      }
    }
  }
}
