.slider
    .slider__little УСЛУГИ
    .slider__big Комплексные профессиональные решения
    .slider__container
        img(src="../src/assets/img/slider.png", alt="").slider__container-img
        img(src="../src/assets/img/slider.png", alt="").slider__container-second
        img(src="../src/assets/img/slider.png", alt="").slider__container-third
    button.slider__back <
    button.slider__next >