.slider
    .slider__little.sections УСЛУГИ
    .slider__big 
        span Комплексные профессиональные решения  
    .slider__container
        .slider__container-images      
        img(src="../src/assets/img/slider.png" alt="").slider__container-images-img
        //img(src="../src/assets/img/slider.png" alt="").slider__container-images-second
        //img(src="../src/assets/img/slider.png" alt="").slider__container-images-third        
    button.slider__back <
    button.slider__next >
    button.slider__about-services.button-generate Подробнее об услугах      

.swiper-container
    .swiper-wrapper
        .swiper-slide Slide 1
        .swiper-slide Slide 2
        .swiper-slide Slide 3
    .swiper-pagination
    button.swiper-button-next +
    button.swiper-button-prev -
