.slider {
  width: 100%;
  position: relative;
  &__little {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  &__big {
    width: 30%;
    text-align: center;
    margin: auto;
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    &-images {
      width: 60%;
      &-img {
        width: 53%;
        z-index: 3;
        position: absolute;
        height: cover;
        margin: auto;
        opacity: 1;
      }
    }
  }
  &__back {
    width: 60px;
    height: 60px;
    background-color: lightgrey;
    border-radius: 50%;
    margin: 16% 0% 0% 17.5%;
  }
  &__next {
    width: 60px;
    height: 60px;
    background-color: lightgrey;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: 79%;
  }
  &__next:hover,
  &__back:hover {
    background-color: #399951;
    color: white;
  }
  &__about-services {
    width: 200px;
    height: 60px;
    border-radius: 4%;
    background-color: #399951;
    margin:350px auto 0px auto;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next,.swiper-button-prev{
  width: 100px;
  height: 100px;
  background-color: red;
}
