.quote
    .quote__container
        .quote__container-items
            .quote__container-items-elem
                img(src="../src/assets/img/avatar.png", alt="").quote__container-items-elem-avatar
            .quote__container-items-elem 
                .quote__container-items-elem-name Василий Иванов
            .quote__container-items-elem
                .quote__container-items-elem-organization ООО «Финиш»
            .quote__container-items-elem
                img(src="../src/assets/img/quote.png", alt="").quote__container-items-elem-quote
            .quote__container-items-elem
                .quote__container-items-elem-text Компания ФЭС-Агро - это федеральный дистрибутор средств защиты растений, семян,<br> макро- и микроудобрений. Мы предлагаем широкий ассортимент и комплексные,<br> профессиональные решения, обеспечиваем экспертную поддержку <br>сельхозпроизводителей на каждом технологическом этапе. 
            .quote__container-items-elem
                .quote__container-items-elem-slider                
                    button.slider-flex.quote__container-items-elem-slider-back <
                    .slider-flex.quote__container-items-elem-slider-change 01 
                    .slider-flex.quote__container-items-elem-slider-text - 03
                    button.slider-flex.quote__container-items-elem-slider-next >