.header {
  display: flex;
  justify-content: center;
  height: 100px;

  &__item {
    &s {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 1920px;
      width: 100%;
    }

    &_languages,
    &_nav {
      display: flex;
      height: 100%;
    }
  }

  &__nav {
    display: flex;

    &-item {
      display: flex;
      align-items: center;

      &-link {
        font-family: DendaNewLightC;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
      }
    }

    &-item:hover {
      border-bottom: 1px solid #333333;
      height: calc(100% + 1px);
    }

    &-item + &-item {
      margin-left: 40px;
    }
  }

  &__search {
    margin-right: 80px;
    display: flex;
    align-items: center;
  }

  &__language {
    display: flex;
    align-items: center;

    &-link {
      font-family: DendaNewLightC;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #90a4ae;
    }

    &_active {
      border-bottom: 1px solid #333333;
      height: calc(100% + 1px);

      .header__language-link {
        color: #333333;
      }
    }
  }

  &__language:hover {
    border-bottom: 1px solid #333333;
    height: calc(100% + 1px);

    .header__language-link {
      color: #333333;
    }
  }

  &__language + &__language {
    margin-left: 32px;
  }

  &__address {
    &-city {
      display: flex;

      &-text {
        font-family: DendaNewLightC;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
      }

      &-carret {
        margin-left: 4px;
      }
    }

    &-number {
      display: block;
      margin-top: 5px;
      font-family: DendaNewLightC;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 19px;
      color: #221f20;
    }

    &-request {
      margin-top: 5px;
      font-family: Dendanewc;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      font-weight: bold;
      color: #399951;
    }
  }
}