.header 
   img(src="../src/assets/img/logo.png", alt="").header__img
   nav.header__items
       a(href="/main.html" style="display: block;").header__items-link О КОМПАНИИ
       a(href="/production.html" style="display: block;").header__items-link ПРОДУКЦИЯ
       a(href="#").header__items-link УСЛУГИ
       a(href="#").header__items-link НОВОСТИ
       a(href="#").header__items-link КАРЬЕРА У НАС
       a(href="#").header__items-link ИНВЕСТОРАМ
       a(href="#").header__items-link КОНТАКТЫ
   a(href="#").header__loop
      img(src="../src/assets/img/Group.png", alt="").header__loop-item
   .header__container-lang
      a(href="#").header__container-lang-language RU
      a(href="#").header__container-lang-language EN
   .header__container-adres 
      .header__container-adres-city Краснодар
      .header__container-adres-number 8(800)77-0-77-26
      a(href="#").header__container-adres-submit Оставить заявку

