.header 
   .header__container
      .header__container-flex
         img(src="../src/assets/img/logo.png", alt="").header__container-flex-img
      .header__container-flex
         nav.header__container-flex-items
            a(href="/main.html" style="display: block;").header__container-flex-items-link О КОМПАНИИ
            a(href="/production.html" style="display: block;").header__container-flex-items-link ПРОДУКЦИЯ
            a(href="#").header__container-flex-items-link УСЛУГИ
            a(href="#").header__container-flex-items-link НОВОСТИ
            a(href="#").header__container-flex-items-link КАРЬЕРА У НАС
            a(href="#").header__container-flex-items-link ИНВЕСТОРАМ
            a(href="#").header__container-flex-items-link КОНТАКТЫ
      .header__container-flex
         a(href="#").header__container-flex-loop
            img(src="../src/assets/img/Group.png", alt="").header__container-flex-loop-item
      .header__container-flex
         .header__container-flex-lang
            a(href="#" ).header__container-flex-lang-ru.header__container-flex-lang-active RU
            a(href="#").header__container-flex-lang-eng EN
      .header__container-flex
         .header__container-flex-adres 
            .header__container-flex-adres-city Краснодар
            .header__container-flex-adres-number 8(800)77-0-77-26
            a(href="#").header__container-flex-adres-submit Оставить заявку

