.header {
  width: 100%;
  min-height: 70px;
  border-bottom: 1px solid lightgrey;
  &__container {
    max-width: 1920px;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-around;
    &-flex {
      &-img {
        width: 100px;
        height: 80%;
      }
      &-items {
        display: flex;
        justify-content: space-between;
        min-height: 42px;
        width: 550px;
        margin-top: 30px;
        font-size: 8pt;
        text-decoration: none;
        &-link :active, /* активная/посещенная ссылка */
      &-link :hover,  /* при наведении */
      &-link {
          color: #666;
        }
        &-link:hover {
          border-bottom: 1px solid grey;
        }
        &-link {
        }
      }
      &-loop {
        width: 20px;
        height: 30px;
       
        &-item {
          width: 19px;
          height: 20px; 
          margin-top: 20px;
        }
      }
      &-lang {
        text-decoration: none;
        margin-top: 25px;
        &-eng,
        &-ru {
          color: grey;
          font-size: 15px;
          margin-right: 15px;
        }
        .header__container-flex-lang-active {
          padding-bottom: 27px;
          border-bottom: 1px solid grey;
        }
      }
      &-adres {
        width: 150px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 10px;
        &-city {
          font-size: 13px;
          color: grey;
        }
        &-number {
          font-size: 18px;
          color: black;
        }
        &-submit {
          color: green;
          font-size: 13px;
          text-decoration: none;
        }
      }
    }
  }
}
