.header 
   img(src="../src/assets/img/logo.png", alt="")
   nav.header__items
       a(href="/main.html" style="display: block;").nav__item О КОМПАНИИ
       a(href="/production.html" style="display: block;").nav__item ПРОДУКЦИЯ
       a(href="#").nav__item УСЛУГИ
       a(href="#").nav__item НОВОСТИ
       a(href="#").nav__item КАРЬЕРА У НАС
       a(href="#").nav__item ИНВЕСТОРАМ
       a(href="#").nav__item КОНТАКТЫ
   a(href="#").image-loop
      img(src="../src/assets/img/Group.png", alt="").image-loop__item
   .container-lang
      a(href="#").container-lang__language RU
      a(href="#").container-lang__language EN
   .container-adres-header
      .city Краснодар
      .number-header 8(800)77-0-77-26
      a(href="#").submit-header Оставить заявку

