.header 
   .header__container
      img(src="../src/assets/img/logo.png", alt="").header__container-img
      nav.header__container-items
         a(href="/main.html" style="display: block;").header__container-items-link О КОМПАНИИ
         a(href="/production.html" style="display: block;").header__container-items-link ПРОДУКЦИЯ
         a(href="#").header__container-items-link УСЛУГИ
         a(href="#").header__container-items-link НОВОСТИ
         a(href="#").header__container-items-link КАРЬЕРА У НАС
         a(href="#").header__container-items-link ИНВЕСТОРАМ
         a(href="#").header__container-items-link КОНТАКТЫ
      a(href="#").header__container-loop
         img(src="../src/assets/img/Group.png", alt="").header__container-loop-item
      .header__container-lang
         a(href="#" ).header__container-lang-ru.header__container-lang-active RU
         a(href="#").header__container-lang-eng EN
      .header__container-adres 
         .header__container-adres-city Краснодар
         .header__container-adres-number 8(800)77-0-77-26
         a(href="#").header__container-adres-submit Оставить заявку

