extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   pageClass: 'gui-page'
  - }

block content
  //- Контент
  .items
    .items__container
      button.items__container-item.items__container-button Подробнее о нас
      button.items__container-item.items__container-button-second Обратная связь
      a(href="").items__container-item.items__container-link ————   Подробнее
      a(href="").items__container-item.items__container-link-second ————   Подробнее


