extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   needCompany: true,
  -   pageClass: 'gui-page'
  - }

block content
  //- Контент
  .fes-agro ФЭС АГРО
  .federalny Мы- федеральный дестрибутор средств защиты растений, семян  и микроудобрений
  .tractor-img
    .container-tractor
      .container-tractor__text 23 года
        .little-text-tractor в агробизнесе
      .container-tractor__text 2400+
        .little-text-tractor клиентов, с которыми мы активно сотрудничаем
      .container-tractor__text 33 города
        .little-text-tractor России, в которых открыты наши офисы
      .container-tractor__text 329 участников
        .little-text-tractor в команде ФЭС АГРО

