extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   pageClass: 'gui-page'
  - }
 
block content
  //- Контент
  .page
    .page__container
      button.page__container-item.page__container-button Подробнее о нас
      button.page__container-item.page__container-button-second Обратная связь
      a(href="").page__container-item.page__container-link ————   Подробнее
      a(href="").page__container-item.page__container-link-second ————   Подробнее