extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   needCompany: true,
  -   pageClass: 'gui-page'
  - }

block content
  //- Контент
  .agro__container
    
    .agro__container-fes ФЭС АГРО
    .agro__container-federalny Мы- федеральный дестрибутор <br>средств защиты растений, семян  и микроудобрений
  .tractor-img
    button.tractor-img__list
    .tractor-img__links
      a(href="").tractor-img__links-first
        img(src="./assets/img/facebook.png", alt="") 
      a(href="").tractor-img__links-second
    .container-tractor
      .container-tractor__text 23 года
        .little-text-tractor в агробизнесе
      .container-tractor__text 2400+
        .little-text-tractor клиентов, с которыми мы активно сотрудничаем
      .container-tractor__text 33 города
        .little-text-tractor России, в которых открыты наши офисы
      .container-tractor__text 329 участников
        .little-text-tractor в команде ФЭС АГРО
  include ./partials/company/company.pug
  include ./partials/table/table.pug
  include ./partials/catalog/catalog.pug
  include ./partials/slider/slider.pug
  include ./partials/special/special.pug
  include ./partials/news/news.pug