.gui {
  width: 100%;
  &-page {
    .fes-agro {
      width: 50%;
      font-size: 12px;
      margin: 4% auto 0% auto;
      color: grey;
    }
    .federalny {
      height: 150px;
      font-size: 32px;
      width: 50%;
      margin: 0.5% auto 0% auto;
    }
  }
}
.tractor-img {
  background-image: url("./src/assets/img/tractop.png");
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  .container-tractor {
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100%;
    &__text {
      width: 25%;
      margin: 15% auto 0% auto;
      font-size: 35px;
      .little-text-tractor {
        width: 70%;
        font-size: 20px;
      }
    }
  }
}
