extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   needCompany: true,
  -   pageClass: 'gui-page'
  - }

block content
  //- Контент
  .agro__container
    
    .agro__container-fes ФЭС АГРО
    .agro__container-federalny Мы- федеральный дестрибутор <br>средств защиты растений, семян  и микроудобрений
  .tractor-img
    button.tractor-img__list
    .tractor-img__links
      a(href="").tractor-img__links-first
        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M14.4413 10.8832H11.9349V20.5658H8.4477V10.8832H6.7041V7.06474H8.4477V4.61C8.4477 2.83714 9.10155 0.10965 12.0439 0.10965H14.6593V3.79175H12.6977C12.3708 3.79175 11.9349 3.92813 11.9349 4.88275V7.06474H14.6593L14.4413 10.8832Z" fill="white"/>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect x="0.737305" y="0.10965" width="20.4561" height="20.4561" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      a(href="").tractor-img__links-second
        <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.9654 0.263161C8.18675 0.263161 7.83985 0.275946 6.74885 0.324529C5.65956 0.375669 4.91803 0.54699 4.26599 0.800134C3.59349 1.06095 3.02243 1.41126 2.45392 1.97977C1.88541 2.54828 1.53424 3.1185 1.27428 3.79184C1.02113 4.44388 0.848961 5.18542 0.798673 6.27471C0.747533 7.3657 0.737305 7.71261 0.737305 10.4912C0.737305 13.2699 0.75009 13.6168 0.798673 14.7078C0.849813 15.7962 1.02113 16.5386 1.27428 17.1906C1.53509 17.8623 1.88541 18.4342 2.45392 19.0027C3.02243 19.5703 3.59264 19.9224 4.26599 20.1823C4.91888 20.4346 5.66042 20.6076 6.74885 20.6579C7.83985 20.7091 8.18675 20.7193 10.9654 20.7193C13.744 20.7193 14.0909 20.7065 15.1819 20.6579C16.2703 20.6068 17.0127 20.4346 17.6648 20.1823C18.3364 19.9215 18.9083 19.5703 19.4768 19.0027C20.0445 18.4342 20.3965 17.8648 20.6565 17.1906C20.9088 16.5386 21.0818 15.7962 21.1321 14.7078C21.1832 13.6168 21.1934 13.2699 21.1934 10.4912C21.1934 7.71261 21.1807 7.3657 21.1321 6.27471C21.0809 5.18627 20.9088 4.44303 20.6565 3.79184C20.3957 3.11935 20.0445 2.54828 19.4768 1.97977C18.9083 1.41126 18.339 1.0601 17.6648 0.800134C17.0127 0.54699 16.2703 0.374817 15.1819 0.324529C14.0909 0.273389 13.744 0.263161 10.9654 0.263161ZM10.9654 2.10421C13.6954 2.10421 14.021 2.11785 15.0992 2.16473C16.0965 2.21161 16.6377 2.37696 16.9974 2.51845C17.4764 2.70341 17.8156 2.92502 18.1753 3.28215C18.5324 3.64013 18.7541 3.98021 18.939 4.45923C19.0788 4.81891 19.2458 5.36015 19.291 6.35739C19.3396 7.43645 19.3507 7.76034 19.3507 10.4912C19.3507 13.2221 19.3379 13.5469 19.2876 14.6251C19.2356 15.6223 19.0694 16.1635 18.9288 16.5232C18.7379 17.0023 18.5205 17.3415 18.1625 17.7012C17.8054 18.0583 17.4602 18.2799 16.9863 18.4649C16.6283 18.6046 16.0786 18.7717 15.0813 18.8169C13.9954 18.8655 13.6758 18.8765 10.9398 18.8765C8.20294 18.8765 7.88332 18.8638 6.79829 18.8135C5.8002 18.7615 5.25044 18.5953 4.89246 18.4546C4.40748 18.2637 4.07421 18.0464 3.71708 17.6884C3.35825 17.3313 3.12897 16.9861 2.94998 16.5122C2.80934 16.1542 2.64399 15.6044 2.59199 14.6072C2.55364 13.5332 2.54 13.2017 2.54 10.4784C2.54 7.75437 2.55364 7.42196 2.59199 6.33523C2.64399 5.33799 2.80934 4.78908 2.94998 4.4311C3.12897 3.94527 3.35825 3.61285 3.71708 3.25402C4.07421 2.89689 4.40748 2.66676 4.89246 2.48862C5.25044 2.34713 5.78827 2.18092 6.7855 2.12978C7.87224 2.09143 8.19186 2.07864 10.927 2.07864L10.9654 2.10421ZM10.9654 5.23912C8.06316 5.23912 5.71326 7.59157 5.71326 10.4912C5.71326 13.3934 8.06572 15.7433 10.9654 15.7433C13.8676 15.7433 16.2175 13.3909 16.2175 10.4912C16.2175 7.58902 13.865 5.23912 10.9654 5.23912ZM10.9654 13.9006C9.08171 13.9006 7.55602 12.3749 7.55602 10.4912C7.55602 8.60756 9.08171 7.08187 10.9654 7.08187C12.849 7.08187 14.3747 8.60756 14.3747 10.4912C14.3747 12.3749 12.849 13.9006 10.9654 13.9006ZM17.6528 5.032C17.6528 5.70961 17.1022 6.25937 16.4255 6.25937C15.7479 6.25937 15.1981 5.70876 15.1981 5.032C15.1981 4.35524 15.7487 3.80548 16.4255 3.80548C17.1014 3.80463 17.6528 4.35524 17.6528 5.032Z" fill="white"/>
        </svg>
    .container-tractor
      .container-tractor__text 23 года
        .little-text-tractor в агробизнесе
      .container-tractor__text 2400+
        .little-text-tractor клиентов, с которыми мы активно сотрудничаем
      .container-tractor__text 33 города
        .little-text-tractor России, в которых открыты наши офисы
      .container-tractor__text 329 участников
        .little-text-tractor в команде ФЭС АГРО
  include ./partials/company/company.pug
  include ./partials/table/table.pug
  include ./partials/catalog/catalog.pug
  include ./partials/slider/slider.pug
  include ./partials/special/special.pug
  include ./partials/news/news.pug