extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   pageClass: 'gui-page'
  - }


block content
  //- Контент
  .fes-agro ФЭС АГРО
  .federalny Мы- федеральный дестрибутор средств защиты растений, семян  и микроудобрений

block tractor
  .tractor-img
    .container-tractor
      .text-tractor 23 года
        .little-text-tractor в агробизнесе
      .text-tractor 2400+
        .little-text-tractor клиентов, с которыми мы активно сотрудничаем
      .text-tractor 33 города
        .little-text-tractor России, в которых открыты наши офисы
      .text-tractor 329 участников
        .little-text-tractor в команде ФЭС АГРО

block company
  .about-company
    .company-item О КОМПАНИИ
    .container-company 
      .fes-agro-today ФЭС-Агро Сегодня
      .fes-agro-today.lit-fes-agro Широкий ассортимент и экспертная поддержка цифровых решений для создания единой системы поддержки производителя.
        button.fes-agro-button Подробнее о нас 
    .about-company__image
      img(src="../src/assets/img/image1.png", alt="").img-company
      img(src="../src/assets/img/image2.png", alt="").img-company
      img(src="../src/assets/img/image3.png", alt="").img-company
    img(src="../src/assets/img/list.png", alt="").list-img


