extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   pageClass: 'gui-page'
  - }

block content
  //- Контент
  span Gui Content
