.agro__container {
  width: 100%;
  display: flex;
  justify-content: center;
  &-box {
    max-width: 1045px;
    &-fes {
      width: 100%;
      margin-top: 4%;
    }
    &-federalny {
      height: 150px;
      font-size: 42px;
      line-height: 54px;
      font-family: DendaNewLightC;
      width: 100%;
    }
  }
}
.tractor-img {
  background-image: url("./src/assets/img/tractop.png");
  width: 100%;
  position: absolute;
  height: 480px;
  max-height: 550px;
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  &__list {
    background-image: url("./src/assets/img/tractor-button.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 100px;
    margin-left: 80%;
    margin: -50px 0px 0px 90%;
  }
  &__links {
    width: 70px;
    height: 120px;
    margin-left: 90.5%;
    margin-top: 100px;
    &-first {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      background-color: rgba(51, 51, 51, 0.6);
    }
    &-second {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 53px;
      margin-top: 30px;
      border-radius: 50%;
      background-color: rgba(51, 51, 51, 0.6);
    }
  }
  .container-tractor {
    width: 90%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: DendaNewLightC;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    height: 100px;
    margin-top: 50px;
    &__max{
      min-width: 215px;
    }
    &__text {
      width: 25%;
      font-size: 32px;
      &-first {
        min-width: 173px;
        font-size: 20px;
      }
      &-second {
        font-size: 16px;
        min-width: 172px;
      }
      &-third {
        font-size: 16px;
        min-width: 184px;
      }
      &-fourth {
        font-size: 16px;
        min-width: 140px;
      }
    }
  }
}
