extends ./layouts/main-layout/main-layout.pug
block variables
  - const layout = {
  -   needHeader: true,
  -   needFooter: true,
  -   pageClass: 'main-page'
  - }

block content
  include ./partials/tractor/tractor.pug
  include ./partials/company/company.pug
  include ./partials/table/table.pug
  include ./partials/catalog/catalog.pug
  include ./partials/slider/slider.pug
  include ./partials/special/special.pug
  include ./partials/news/news.pug
  