.footer
  .footer-line
    .footer__container
      img(src="../src/assets/img/logo_footer.png" alt="").footer__container-img
      .footer__container-links
        ul
          li
            ul.footer__container-links-column.footer__container-links-margin
              li.footer__container-links-column-item
                a(href="#").footer__container-links-column-item-link.footer__container-links-column_none.link-general О КОМПАНИИ
              li.footer__container-links-column-item 
                a(href="#").footer__container-links-column-item-link.link-general ПРОДУКЦИЯ
              li.footer__container-links-column-item
                a(href="#").footer__container-links-column-item-link.link-general УСЛУГИ
              li.footer__container-links-column-item
                a(href="#").footer__container-links-column-item-link.link-general НОВОСТИ
        ul
          li
            ul.footer__container-links-column
              li.footer__container-links-column-item
                a(href="#").footer__container-links-column-item-link.footer__container-links-column_none.link-general КАРЬЕРА У НАС
              li.footer__container-links-column-item 
                a(href="#").footer__container-links-column-item-link.link-general ПАРТНЕРЫ
              li.footer__container-links-column-item
                a(href="#").footer__container-links-column-item-link.link-general ИНВЕСТОРАМ
              li.footer__container-links-column-item  
              a(href="#").footer__container-links-column-item-link.link-general КОНТАКТЫ
      .footer__container-post
        .footer__container-post-adres Россия г.Ставрополь ул.Дзержинского ,162 
        .footer__container-post-email info@fes-agro.ru
        .footer__container-post-image 
          a(href="#").footer__container-image-links  
            img(src="../src/assets/img/Group_42.png" alt="").footer__container-post-image-links-img
          a(href="#").footer__container-image-links
            img(src="../src/assets/img/Group_43.png" alt="").footer__container-post-image-links-img 
      .footer__container-phone
        .footer__container-phone-number 8(800)77-0-77-26
        button.footer__container-phone-feedback.button-generate Обратная связь  
  .footer__bottom
    .footer__bottom-container
      .footer__bottom-container-item
        .footer__bottom-container-item-first 2019 © ФЭС-Агро. Все права защищены.
      .footer__bottom-container-item
        a(href="").footer__bottom-container-item-second  Политика конфиденциальности
        a(href="").footer__bottom-container-item-second  Политика обработки персональных данных
      .footer__bottom-container-item
        .footer__bottom-container-item-text-grey ООО «ФЭС-Агро» осуществляет обязательное раскрытие информации согласно действующего законодательства РФ о ценных бумагах также на странице в сети Интернет ООО «Интерфакс-ЦРКИ» – информационного агентства, аккредитованного ЦБ РФ на раскрытие информации. Информация доступна по ссылке


