.footer
  .footer-line
    .footer__container
      img(src="../src/assets/img/logo_footer.png" alt="").footer__container-img
      .footer__container-links
        ul.footer__container-links-column.footer__container-links-margin
          li.footer__container-links-column-item
            a(href="#").footer__container-links-column-item-link.footer__container-links-column_none О КОМПАНИИ
          li.footer__container-links-column-item 
            a(href="#").footer__container-links-column-item-link ПРОДУКЦИЯ
          li.footer__container-links-column-item
            a(href="#").footer__container-links-column-item-link УСЛУГИ
          li.footer__container-links-column-item
            a(href="#").footer__container-links-column-item-link НОВОСТИ
        ul.footer__container-links-column
          li.footer__container-links-column-item
            a(href="#").footer__container-links-column-item-link.footer__container-links-column_none КАРЬЕРА У НАС
          li.footer__container-links-column-item 
            a(href="#").footer__container-links-column-item-link ПАРТНЕРЫ
          li.footer__container-links-column-item
            a(href="#").footer__container-links-column-item-link ИНВЕСТОРАМ
          li.footer__container-links-column-item  
          a(href="#").footer__container-links-column-item-link КОНТАКТЫ
      .footer__container-post
        .footer__container-post-adres Россия г.Ставрополь ул.Дзержинского ,162 
        .footer__container-post-email info@fes-agro.ru
        .footer__container-post-image 
          a(href="#").footer__container-image-links  
            img(src="../src/assets/img/Group_42.png" alt="").footer__container-post-image-links-img
          a(href="#").footer__container-image-links
            img(src="../src/assets/img/Group_43.png" alt="").footer__container-post-image-links-img 
      .footer__container-phone
        .footer__container-phone-number 8(800)77-0-77-26
        button.footer__container-phone-feedback Обратная связь  
  .footer__bottom
    .footer__bottom-container
      .footer__bottom-container-item
        .footer__bottom-container-item-first 2019 © ФЭС-Агро. Все права защищены.
      .footer__bottom-container-item
        .footer__bottom-container-item-second  Политика конфиденциальности
        .footer__bottom-container-item-second  Политика обработsки персональных данных
      .footer__bottom-container-item
        .footer__bottom-container-item-text-grey ООО «ФЭС-Агро» осуществляет обязательное раскрытие информации согласно действующего законодательства РФ о ценных бумагах также на странице в сети Интернет ООО «Интерфакс-ЦРКИ» – информационного агентства, аккредитованного ЦБ РФ на раскрытие информации. Информация доступна по ссылке


