.footer
  .footerContainer
    img(src="../src/assets/img/logo_footer.png" alt="").footerContainer__item
    .container-links-footer
      a(href="#").container-links-footer__item О КОМПАНИИ
      a(href="#").container-links-footer__item ПРОДУКЦИЯ
      a(href="#").container-links-footer__item УСЛУГИ
      a(href="#").container-links-footer__item НОВОСТИ
      a(href="#").container-links-footer__item КАРЬЕРА У НАС
      a(href="#").container-links-footer__item ПАРТНЕРЫ
      a(href="#").container-links-footer__item ИНВЕСТОРАМ
      a(href="#").container-links-footer__item КОНТАКТЫ
    .container-adres
      .container-adres__adres Россия г.Ставрополь ул.Дзержинского ,162 
      .container-adres__email info@fes-agro.ru
      .container-img 
        a(href="#").container-img__links  
          img(src="../src/assets/img/Group_42.png" alt="").imageLinkFoooter 
        a(href="#").container-img__links
          img(src="../src/assets/img/Group_43.png" alt="").imageLinkFoooter 
    .container-phone
      .phoneNumber 8(800)77-0-77-26
      button.feedback Обратная связь
  .line-footer
    img(src="../src/assets/img/Rectangle_81.png" alt="").line-img
  .bottom-line
    .bottom-line__container
      .text-footer 2019 © ФЭС-Агро. Все права защищены.
    .bottom-line__container
      .text-footer Политика конфиденциальности
      .text-footer Политика обработки персональных данных
    .bottom-line__container
     .text-footer-grey ООО «ФЭС-Агро» осуществляет обязательное раскрытие информации согласно действующего законодательства РФ о ценных бумагах также на странице в сети Интернет ООО «Интерфакс-ЦРКИ» – информационного агентства, аккредитованного ЦБ РФ на раскрытие информации. Информация доступна по ссылке


